body {
  margin: 0;
  background-color: var(--cWhite);
  font-family: "Lato", sans-serif;
  font-size: var(--sFontBody);
  font-style: normal;
  letter-spacing: 0.03em;
}

html {
  scroll-behavior: smooth;
  font-family: "Lato", sans-serif;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  width: 100%;
  max-width: 1060px;
  padding: 0 160px;
  margin: 0 auto;
}
