.header {
  display: block;
  height: 100%;
}
.header__title {
  border: 1px solid #ebebeb;
  align-items: center;
  text-align: center;
}
.label {
  padding: 20px 0;
  max-width: 140px;

  @media screen and (min-width: 1025px) {
    padding: 37px 0;
    max-width: 220px;
  }
}

