.main__intro {
  padding: 25px 10px 25px 20px;
  display: block;
  font-style: normal;
  color: var(--cBlack);
  justify-content: center;
}
.main__intro_text {
  padding-bottom: 10px;
  font-weight: 800;
  font-size: 36px;
  line-height: 35px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  letter-spacing: 0.06em;
}

.main__intro_subtext {
  font-weight: 800;
  font-size: 14px;
  line-height: 17px;
  padding-bottom: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.03em;
}
.main__intro_img {
  max-height: 100%;
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
}
@media screen and (min-width: 1025px) {
  .main__intro {
    padding: 30px 160px 50px 160px;
    display: flex;
  }
  .main__intro_header {
    display: block;
    padding-top: 180px;
    width: 50%;
  }
  .main__intro_text {
    justify-content: flex-start;
    display: flex;
    font-size: 55px;
    line-height: 1.2px;
  }
  .main__intro_subtext {
    display: flex;
    justify-content: flex-start;
    padding-top: 25px;
    font-size: 18px;
    line-height: 1.2;
  }
  .main__intro_img {
    width: 50%;
  }
}
