body {
  margin: 0;
  background-color: var(--cWhite);
  font-family: "Lato", sans-serif;
  font-size: var(--sFontBody);
  font-style: normal;
  letter-spacing: 0.03em;
}

html {
  scroll-behavior: smooth;
  font-family: "Lato", sans-serif;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  width: 100%;
  max-width: 1060px;
  padding: 0 160px;
  margin: 0 auto;
}

:root {
  --cWhite: #ffffff;
  --cBlack: #1b1b1b;
  --cGray: #585858;
  --cCadetBlue: #00b3b3;
  --cLightGray: #f9f9f9;
  --cOrange: #ffc400;
  --sFontBody: 16px;
}

.header {
  display: block;
}

.header__title {
  border: 1px solid #ebebeb;
  align-items: center;
  text-align: center;
}

@media screen and (min-width: 375px) {
  .label {
    padding: 20px 0;
  }
}
@media screen and (min-width: 375px) {
  .container {
    padding: 0 10px;
  }
  .main__intro {
    margin: 25px 30px 25px;
  }
}
.main__intro {
  display: block;
  font-style: normal;
  color: var(--cBlack);
  justify-content: center;
}

.main__intro_text {
  font-weight: 800;
  font-size: 36px;
  line-height: 35px;
  padding-bottom: 10px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  letter-spacing: 0.06em;
}

.main__intro_subtext {
  font-weight: 800;
  font-size: 14px;
  line-height: 17px;
  padding-bottom: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.03em;
}

.main__intro_img {
  max-height: 100%;
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
}

.table {
  align-items: center;
  text-align: center;
  display: block;
  color: var(--cWhite);
}

.table__title {
  background-color: var(--cCadetBlue);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.8;
  align-items: center;
  text-align: center;
}

.table__title h3 {
  padding: 20px 0;
}

.table__row {
  position: relative;
  justify-content: center;
  align-items: center;
  padding: 35px 0;
}

.counter {
  position: absolute;
  top: 15px;
  left: 15px;
  margin: 0 auto;
  font-weight: 800;
  line-height: 1.2;
  display: flex;
  align-items: center;
  letter-spacing: 0.06em;
  color: var(--cGray);
}

.bg--color {
  background-color: var(--cLightGray);
}

.table__labels {
  flex-direction: column;
  display: block;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.table__content_text {
  font-weight: 500;
  line-height: 1.2;
  display: block;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: var(--cGray);
  margin: 25px 0;
}

.table__labels_rating {
  padding-top: 25px;
}

.table__content_categories {
  color: var(--cCadetBlue);
  display: inline-flex;
  font-weight: 800;
  line-height: 1.2;
  align-items: center;
  text-align: center;
  padding: 0 35px 0 35px;
}

.table__content_categories h6 {
  font-weight: 900;
  font-size: 20px;
  line-height: 1.5;
  align-items: center;
  text-align: center;
  color: var(--cGray);
}

.table__action {
  align-items: center;
  justify-content: space-around;
  display: flex;
}

.button {
  background: var(--cOrange);
  border: 2px solid var(--cOrange);
  margin: 15px 70px 0 70px;
  padding: 15px 40px;
  border-radius: 7px;
  text-decoration: none;
  font-style: normal;
  font-weight: 800;
  font-size: 14px;
  line-height: 1;
  letter-spacing: 0.06em;
  color: var(--cWhite);
}

.footer {
  background-color: var(--cLightGray);
}

.footer__content {
  display: block;
  padding: 40px 0 25px;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.footer_content_text {
  padding: 5px 0 30px 0;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 2.2;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: var(--cBlack);
}
