body {
  margin: 0;
  background-color: var(--cWhite);
  font-family: "Lato", sans-serif;
  font-size: var(--sFontBody);
  font-style: normal;
  letter-spacing: 0.03em;
}

html {
  scroll-behavior: smooth;
  font-family: "Lato", sans-serif;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  padding: 0 150px;
  margin: 0 auto;
}

:root {
  --cWhite: #ffffff;
  --cBlack: #1b1b1b;
  --cGray: #585858;
  --cCadetBlue: #00b3b3;
  --cLightGray: #f9f9f9;
  --cOrange: #ffc400;
  --sFontBody: 16px;
}

.header {
  display: block;
  height: 100%;
}

.header__title {
  border: 1px solid #ebebeb;
  align-items: center;
  text-align: center;
}

.label {
  padding: 20px 0;
  max-width: 140px;
}

@media screen and (min-width: 1025px) {
  .label {
    padding: 37px 0;
    max-width: 220px;
  }
}
.main__intro {
  padding: 25px 10px 25px 20px;
  display: block;
  font-style: normal;
  color: var(--cBlack);
  justify-content: center;
}
@media screen and (min-width: 1025px) {
  .main__intro {
    display: flex;
    max-width: 1160px;
    margin: 0 auto;
    padding: 25px 40px 50px 20px;
  }
}

@media screen and (min-width: 1025px) {
  .main__intro_header {
    display: block;
    padding-top: 180px;
    max-width: 600px;
  }
}

.main__intro_img {
  max-width: 340px;
}
@media screen and (min-width: 1025px) {
  .main__intro_img {
    max-width: 520px;
  }
}
@media screen and (min-width: 376px) {
  .main__intro_img {
    object-fit: contain;
    display: block;
    margin: 0 auto;
  }
}

.main__intro_text {
  padding-bottom: 10px;
  font-weight: 800;
  font-size: 36px;
  line-height: 35px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  letter-spacing: 0.06em;
}
@media screen and (min-width: 1025px) {
  .main__intro_text {
    justify-content: flex-start;
    display: flex;
    font-size: 55px;
    line-height: 1.2px;
  }
}

.main__intro_subtext {
  font-weight: 800;
  font-size: 14px;
  line-height: 17px;
  padding-bottom: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 1025px) {
  .main__intro_subtext {
    display: block;
    justify-content: flex-start;
    padding-top: 25px;
    font-size: 18px;
    line-height: 1.2;
  }
}

.container {
  padding: 0 10px;
}
@media screen and (min-width: 1025px) {
  .container {
    max-width: 1160px;
  }
}

.table {
  align-items: center;
  text-align: center;
  display: block;
  color: var(--cWhite);
}

.table__title {
  background-color: var(--cCadetBlue);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.8;
  align-items: center;
  text-align: center;
}
@media screen and (min-width: 1025px) {
  .table__title {
    border-radius: 7px;
  }
}

.table__header_mobile {
  padding: 20px 0;
}
@media screen and (min-width: 1025px) {
  .table__header_mobile {
    display: none;
  }
}

.table__header {
  display: none;
}
@media screen and (min-width: 1025px) {
  .table__header {
    display: grid;
    grid-template-columns: 60px 185px 323px 90px 60px 175px 245px;
    padding: 25px 0;
  }
}

.table__row {
  position: relative;
  justify-content: center;
  align-items: center;
  padding-bottom: 35px;
}

.desk {
  display: none;
}
@media screen and (min-width: 1025px) {
  .desk {
    display: grid;
    grid-template-columns: 60px 185px 323px 90px 60px 175px 245px;
    padding: 25px 0;
    justify-content: center;
    align-items: center;
    padding: 25px 0;
  }
}

@media screen and (min-width: 1025px) {
  .mobile {
    display: none;
  }
}

.table__row_num {
  padding: 10px 20px;
  margin: 0 auto;
  font-weight: 800;
  line-height: 1.2;
  display: flex;
  align-items: center;
  justify-content: left;
  letter-spacing: 0.06em;
  color: var(--cGray);
}
@media screen and (min-width: 1025px) {
  .table__row_num {
    position: relative;
    top: 0;
    left: 0;
  }
}

.bg--color {
  background-color: var(--cLightGray);
}

.table__rating {
  flex-direction: column;
  display: block;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding-top: 25px;
}
@media screen and (min-width: 1025px) {
  .table__rating {
    padding-top: 0;
  }
}

.table__content_text {
  font-weight: 500;
  line-height: 1.2;
  display: block;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: var(--cGray);
  margin: 25px 0;
}
@media screen and (min-width: 1025px) {
  .table__content_text {
    text-align: left;
  }
}

.vip,
.license {
  justify-content: center;
  font-weight: 900;
  font-size: 24px;
  line-height: 1.2;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: var(--cGray);
}

.table__content_categories {
  color: var(--cCadetBlue);
  display: inline-flex;
  font-weight: 800;
  line-height: 1.2;
  align-items: center;
  text-align: center;
  padding: 0 35px 0 35px;
}

.table__content_categories h6 {
  font-weight: 900;
  font-size: 20px;
  line-height: 1.5;
  align-items: center;
  text-align: center;
  color: var(--cGray);
}

.table__action {
  align-items: center;
  justify-content: center;
  display: flex;
}

.button {
  background: var(--cOrange);
  border: 2px solid var(--cOrange);
  height: 100%;
  margin: 15px 70px 0 70px;
  padding: 15px 38px;
  border-radius: 7px;
  text-decoration: none;
  font-style: normal;
  font-weight: 800;
  font-size: 14px;
  line-height: 1;
  letter-spacing: 0.06em;
  color: var(--cWhite);
}
@media screen and (min-width: 1025px) {
  .button {
    margin: 0;
  }
}

.footer {
  background-color: var(--cLightGray);
}

.footer-label {
  max-width: 140px;
}
@media screen and (min-width: 1025px) {
  .footer-label {
    max-width: 220px;
  }
}

.footer__content {
  display: block;
  padding: 40px 0 25px;
  align-items: center;
  text-align: center;
  justify-content: center;
}
@media screen and (min-width: 1025px) {
  .footer__content {
    padding: 50px 0 50px;
  }
}

.footer_content_text {
  padding: 5px 0 35px 0;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 2.2;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: var(--cBlack);
}
@media screen and (min-width: 1025px) {
  .footer_content_text {
    font-size: 14px;
    line-height: 1.9;
    font-weight: 700;
  }
}

.footer_content_subtext {
  font-size: 12px;
  font-weight: 400;
  line-height: 2.2;
}
@media screen and (min-width: 1025px) {
  .footer_content_subtext {
    font-size: 14px;
    line-height: 1.9;
  }
}
